@import url("https://fonts.googleapis.com/css?family=Outfit");
@import url("https://fonts.googleapis.com/css?family=Manrope");
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono");

html {
    --code-font: "JetBrains Mono", monospace;
    --code-size: 15px;
    --code-height: 20px;

	/* colours */
	--primary: #C91212;
    --link: #0E7EE5;
	--background-1: #28282B;
    --background-2: #151316;
    --background-3: #1D1D20;
    --background-4: #131316;

	--text: #FDFBF9;
	--text-faded: #FDFBF980;
    --text-disabled: #FDFBF932;

    --state-on: #038700;
    --state-off: #8C0317;

    --scrollbar-track: #1D1D20;
    --scrollbar-thumb: #C91212;
}

html, body, .svelte-body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.svelte-body {
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: light) {
	html {
		--background-1: #DBD7D2;
		--background-2: #FDFBF9;
		--background-3: #F5EBE0;
        --background-4: #D2CDC6;

		--text: #28282B;
        --text-faded: #28282B80;
        --text-disabled: #28282B32;

        --scrollbar-track: #F5EBE0;
	}
}

html[data-theme="light"] {
    --background-1: #DBD7D2;
    --background-2: #FDFBF9;
    --background-3: #F5EBE0;
    --background-4: #D2CDC6;

    --text: #28282B;
    --text-faded: #28282B80;
    --text-disabled: #28282B32;

    --scrollbar-track: #F5EBE0;
}

html[data-theme="synthwave84"] {
    --background-1: #2A2139;
    --background-2: #463465;
    --background-3: #241B2F;
    --background-4: #4D3B6B;

    --scrollbar-track: #2A2139;
}

html[data-theme="onedarkpro"] {
    --link: #26AFEA;
    --background-1: #1D1F23;
    --background-2: #282C34;
    --background-3: #404754;
    --background-4: #21252B;

    --scrollbar-track: #1D1F23;
}

html[data-theme="nordpolarnight"] {
    --link: #26AFEA;
    --background-1: #2E3440;
    --background-2: #3B4252;
    --background-3: #434C5E;
    --background-4: #4C566A;

    --scrollbar-track: #2E3440;
}

html[data-theme="nordsnowstorm"] {
    --link: #26AFEA;
    --background-1: #D8DEE9;
    --background-2: #E5E9F0;
    --background-3: #ECEFF4;
    --background-4: #FDFBF9;

    --text: #28282B;
    --text-faded: #28282B80;
    --text-disabled: #28282B32;

    --scrollbar-track: #D8DEE9;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Manrope", sans-serif;
	color: var(--text);

    /* scrollbar */
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 5px;
}

body {
	background-color: var(--background-2);
	max-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Outfit", sans-serif;
	margin: 0;
	padding: 0;
}

a {
    color: var(--link);
    text-decoration: underline;
}

.emphasized-text {
    font-weight: bold;
}
