@import url("https://fonts.googleapis.com/css?family=Outfit");
@import url("https://fonts.googleapis.com/css?family=Manrope");

html {
	--action-bar-spacing: 20px;
	--action-bar-height: 80px;

	/* colours */
	--primary: #C91212;
    --link: #0E7EE5;
	--background-1: #28282B;
    --background-2: #151316;
    --background-3: #1D1D20;
    --background-4: #131316;

	--text: #FDFBF9;
	--text-faded: #FDFBF980;
    --text-disabled: #FDFBF919;

    --scrollbar-track: #1D1D20;
    --scrollbar-thumb: #C91212;
}

html, body, .svelte-body {
    height: 100%;
    width: 100%;
    margin: 0;
}

@media (prefers-color-scheme: light) {
	html {
		--background-1: #DBD7D2;
		--background-2: #FDFBF9;
		--background-3: #F5EBE0;
        --background-4: #D2CDC6;

		--text: #28282B;
        --text-faded: #28282B80;
        --text-disabled: #28282B19;

        --scrollbar-track: #F5EBE0;
	}
}

html[data-theme="light"] {
    --background-1: #DBD7D2;
    --background-2: #FDFBF9;
    --background-3: #F5EBE0;
    --background-4: #D2CDC6;

    --text: #28282B;
    --text-faded: #28282B80;
    --text-disabled: #28282B19;

    --scrollbar-track: #F5EBE0;
}

/* TODO - Other themes... */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Manrope", sans-serif;
	color: var(--text);

    /* scrollbar */
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 5px;
}

body {
	background-color: var(--background-2);
	max-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Outfit", sans-serif;
	margin: 0;
	padding: 0;
}

a {
    color: var(--link);
    text-decoration: underline;
}

.emphasized-text {
    font-weight: bold;
}

:focus {
    outline: 2.5px solid var(--primary);
    outline-offset: 2.5px;
}
